body,
html {
    height: 100%;
}

body {
    background: #178fb4;
}

h1 {
    color: #291c40;
}

.wrapper {
    max-width: 30vw;
    margin: auto;
    height: 100%;
    text-align: center;
}
.img-meme {
    max-height: 50vh;
    max-width: 90%;
}
.accordion {
    margin: auto;
    max-width: 90%;
    text-align: center;
    /* box-shadow: 0 1em 0 0 #5fdacf inset; */
    background: #291c40;
    padding: 1em;
}
.accordion-item {
    position: relative;
    margin-bottom: 0.4em;
}
.accordion-item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.accordion-item__header {
    display: flex;
    padding: 0.5em;
    border: 0.1em solid #00f05c;
    font-size: 1.5em;
    color: #5fdacf;
    text-align: left;
    cursor: pointer;
    justify-content: space-between;
}
.accordion-item__content {
    padding: 0.5em;
    border: 0.1em solid #00f05c;
    border-top: none;
    opacity: 0;
    max-height: 0;
}
.accordion-item__input:hover ~ .accordion-item__header {
    
}
.accordion-item__input:hover ~ .accordion-item__content {
    transition: all 1s ease-in;
    opacity: 1;
    max-height: 100%;
}
.accordion-item__input:checked ~ .accordion-item__content {
    transition: all 1s ease-in;
    opacity: 1;
    max-height: 100%;
}

/* .icon {
    display: inline-block;
    background-image: url('img/accordion.png');
    width: 1.5em;
    height: 1.5em;
    opacity: 1;
    background-size: 1em;
}

.icon img {
    max-width: 100%;
} */

.icon-holder img {
    width: 1em;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;    
}

