/* html {
    height: 100%;
} */

body {
    background: #178fb4;
}

h1 {
    color: #291c40;
}

.wrapper {
    width: calc(100vw - 1em);
    margin: 2em auto;    
    text-align: center;
    overflow: hidden;
}
.img-meme {
    max-height: 50vh;
    max-width: 70%;
}
.accordion {
    margin: auto;
    max-width: 80%;
    text-align: center;
    /* box-shadow: 0 1em 0 0 #5fdacf inset; */
    background: #291c40;
    padding: 1em;
}
.accordion-item {
    /* position: relative; */
    flex-direction: column;
    /* margin-bottom: 0.4em; */
    display: flex;
}
.accordion-item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.accordion-item__header {
    display: flex;
    padding: 0.5em;
    border: 0.1em solid #00f05c;
    font-size: 1.3em;
    color: #5fdacf;
    text-align: left;
    cursor: pointer;
    justify-content: space-between;
}
.accordion-item__content {
    padding: 0.5em;
    border: 0.1em solid #00f05c;
    border-top: none;
    opacity: 0;
    max-height: 0;
}
.accordion-item__input:hover ~ .accordion-item__header {
    
}
.accordion-item__input:hover ~ .accordion-item__content {
    transition: all 1s ease-in;
    opacity: 1;
    max-height: 100%;
}
.accordion-item__input:checked ~ .accordion-item__content {
    transition: all 1s ease-in;
    opacity: 1;
    max-height: 100%;
}

.icon-holder img {
    width: 1em;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;    
}

@media (min-width: 820px) {
    .wrapper {
        width: 70%;
    }
    .accordion-item__header {    
    font-size: 1.4em;       
    cursor:auto;    
}
}

@media (min-width: 1920px) {
    .wrapper {
        width: 30%;
    }
    .accordion-item__header {    
    font-size: 1.5em;       
    cursor:auto; 
    
}
}

@media (hover:hover) {
   
}